            <div id="black">
    	      <img src="/images/profile_ex.jpg" alt="some_text" width="90%" height="42%"> 
     	      <div class="Warble" align="center"><font size="5pt">
              <%= username %>
            <font></div>
            <font size="2"><i><a href=""><font color=white>edit</font></a></i></font>
            </div>

            <div id="content">
            <% var added=0;
            for(var i = follower.length-1; i >= 0; i--){
              if (follower[i].follower == me && follower[i].following==username){ 
                added=1; %>
               You are a follower!
            <% }} %>
            <% if (added==0 && me!=username) { %>
            <form method="post" id="<%= username %>" action="<%= username %>">
            <center><input type="submit" username="<%= username %>" value="FOLLOW"></input>
            </form>
            <% } %>
            <%if (me == username){ %>
              <a href="/user/my_profile">My Profile</a>
            <%} %>



            </div>



            <div id="content">
     	        <table width="80%" valign="top"><tr><td>
                <b>Warbles</b></td><td><% include count/warble %></tr><tr><td>
                <b>Uploads</b></td><td>
                <a href=""><i><font size="2">0</font></i></a></td>
                </tr><tr><td>
                <b>Following</b></td><td><% include count/following %></td> </tr><tr><td>
                <b>Followers</b></td><td><% include count/follower %></td></tr></table>
                <hr width="80%">
                <table width="80%" valign="top"><tr><td>
                <b>Birthday</b></td><td width="80px">
                <font size="2"><a href=""><i>
                  <% birthday %>
                </i></i></a><br></font></td></table>
                <hr width="80%">
            </div>
            <br>