<table width="100%"><tr>
        <td valign="top">
          <div id="content">
            <form method="post" id="main" action="main" enctype="multipart/form-data">
                <center>
                <Textarea for Status Updates
                    <textarea maxlength="250" rows="1" name="update" id="update"
                    type="text">Isn't it delightful?</textarea>
                </center>

                <table width="97%" align="center">
                    <td>
                        <form method="post" enctype="multipart/form-data">
                        <input type="hidden" name="MAX_FILE_SIZE" value="5194304" /> 
                        <INPUT TYPE='file' NAME='fileToUpload' />
                        </form>

                    </td>
                    <td align="right">
                    <input type="submit" value="Warble!"></input>
                  </form>
                </td>
              </table>