<% include header %>

<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" width="70%" align="center">
    <tr height="30px"></tr>
    <tr>
        <td valign="top" id="content"><div class="text">

        <!--The About Warble Page-->
        <h1>CMPSCI 326 Web Programming Project</h1>
        <b><u>Team</u>:</b> Sugarloaf<br>
        <b><u>Members</u>:</b> Eric Smith, Xian Chen, Hridya Turlapati, Ryan Becker<br>
        <b><u>Project Name</u>:</b> Warble<br>
        <hr>

       <h2>About</h2>
       The semester project for UMass's CS326 Web Programming course focuses on implementing <a href="http://twitter.com" target="_blank">Twitter</a>. Our implementation is <b>Warble</b>-- a microblogging web application that allows users to upload files of a certain size. 

        </div></td>
    </tr>

</table>
</div><br><br><div id="footer" align="center"><a href="about"><font color="white">About Warble</font></a></div>
</body>
</head>
</html>