<% include header %>
<div id="header">
<!-- Top Navigation Bar -->
<button type="button">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="front">Front</a>
</button>

<button type="button" class="active">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="discover">Discover</a>
</button>

<button type="button">
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="me">At Me</a>
</button>

<button type="button">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="my_profile">My Profile</a>
</button>

<button type="button">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/logout">Logout</a>
</button>
</div>
<div id="bar"></div>
<br>

<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
	<tr>
		<td valign="top" width="220px">

            <div id="content">
                <!-- Search Field and Button-->
    	       <textarea rows="1">I'm looking for...</textarea>
     	      <input type="submit" value="Find me!"> <a class="text"></a></input>
            </div>

            <br>
            <div id="content"width="100%">
                <div class="text">
                <!-- Search by Categories -->
                  <h3><center>Categories</center></h3>
                  <hr><font size="3pt">
                  <ul>
                    <li><a href="" title="search by profiles">People</a></li>
                    <li><a href="" title="search by warbles">Warbles</a></li>
                    <li><a href="" title"search by file uploads">Uploads</a></li>
                    <li>etc...</li>
                    </uL></font>
                </div>
            </div>

            <br> 
            <div id="content"width="100%">
          <h1 class="Warble"><center>Online Users</center></h1>
          <div class="text"><hr></div>
          <div style="padding:5px; filter:alpha(opacity=.7); opacity:.7;" >

              <% for(var userid in users) { %>
            - <%= users[userid].username %><br>
            <% } %>

          </div>
          </div>
          <br>

          <div id="content"width="100%">
          <h1 class="Warble"><center>New Users</center></h1>
          <div class="text"><hr></div>
          <div style="padding:5px; filter:alpha(opacity=.7); opacity:.7;" >
        <ul>
        <% for(var i = allUsers.length-1 ; i > (allUsers.length-6); i--) { %>
          <li><%= allUsers[i].username %></li>
        <% } %>
        </ul>
        </div>
        </div>
          

 		</td>

        <td width="15px"></td>
    	<td valign="top" id="default">
            <!-- Search Results -->
            <h3>Search Results: People</h3><hr>
                    <table width="100%" valign="top"><td>
                    <b>Eric Smith</b> <font size="2">Last Update on 3/8/13 at 9:15 pm</font><br>
                    Done! Login Page!<br>
                    </td><td width="50px"><font size="2">
                    <a href="">Profile</a><br>
                    <a href="">Follow</a><br>
                    </font></td></table><hr>


                    <table width="100%" valign="top"><td>
                    <b>Hridya</b> <font size="2">Last Update on 3/6/13 at 6:02 pm</font><br>
                    Testing...<br>
                    </td><td width="50px"><font size="2">
                    <a href="">Profile</a><br>
                    <a href="">Follow</a><br>
                    </font></td></table><hr>

                    <br>


    		<h1>Search Results: Warbles</h1><hr>
                    <table width="100%" valign="top"><td><b>Xian Chen</b> <font size="2">on 3/5/13 at 9:15 pm</font><br>
                    Changing headers and footers! Download?<br>
                    <font size=2><u>Attached</u>: <i>files.zip</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br><a href="">Download</a></font></td></table><hr>


                    <table width="100%" valign="top"><td><b>Ryan</b><font size="2"> on 3/5/13 at 8:02 pm</font><br>
                    Sign_up page ready</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>

                    <table width="100%" valign="top"><td><b>Xian Chen</b> <font size="2">on 3/3/13 at 6:20 pm</font><br>
                    Discover and Front pages are up!</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>
                    <a href=""><center>more...</center></a>
    		</td>
    	</tr>

</table>
<% include footer %>