<h1><%= username %>'s Followers</h1>
<hr>
<table>
<% for(var i = follower.length-1; i >= 0; i--){
	if(follower[i].follower == username){ %>
	<tr>
		<td width="60px"><img src="/images/bird.png"></td>
		<td style="padding-right:15px;">
			<a href="/users/<%= follower[i].following %>"><%= follower[i].following %></a>
		</td>
	</tr>
<% }} %>
</div>
