<div class="Warble" align="center" style="padding-top:8px"><font size="5pt"><b>Following</b></font></div>
                <hr>
					<% for(var i = follower.length-1; i >= 0; i--){
						if(follower[i].following == username){ %>
							<a href="/users/<%= follower[i].follower %>"><%= follower[i].follower %></a>
							<br>
					<% }} %>
				    </div>
