<%include header%>
	<br>
	<div id="header">
		<br>
		<logh1>Warble!</logh1>
	</div>
	<br>
    <table cellspacing="0" cellpadding="0" width="40%" align="center">
	<tr>
		<td valign="top" width="27%">

            <div id="content" width="10%">
               <h1>username:</h1>
    	       <textarea rows="1">Username</textarea>
    	       <h1>password:</h1>
    	       <textarea rows="1">Password</textarea>
    	       <br>
			   <button type="button"><a href="/pages/front">Sign In</a></button>
			   |
			   <button type="button"><a href="/pages/forget_password">Forgot Password?</a></button>
			   |
			   <button type="button"><a href="/pages/sign_up">Sign Up</a></button>
            </div>
<%include footer%>