<% include header %>
<div id="header">
<!-- Top Navigation Bar: Front, Discover, Profile, @Me -->
<button type="button">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="front">Front</a>
</button>

<button type="button">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="discover">Discover</a>
</button>

<button type="button" class="active">
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="me">At Me</a>
</button>

<button type="button">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="my_profile">My Profile</a>
</button>

<button type="button">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/logout">Logout</a>
</button>
</div>
<div id="bar"></div>
<br>


<!-- Using a table to compartmentalize the information-->
<table cellspacing="0" cellpadding="0" id="main_size" align="center">
    <tr>
        <td valign="top" width="220px" align="center">

            <!-- User Information: Warbles, Followers, Who your following -->
    	       
    	      <div id="black">
               
              <img src="/images/profile_ex.jpg" alt="some_text" width="90%" height="42%"> 
              <h1>Hridya Turlapati</h1><font size="2">

            </div>

 		</td>
        
        
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->    
 
            <td width="15px"></td>
            
        <!-- @Me Warble List -->
        <!-- Can see all posts a user is mentioned in -->
    	<td valign="top">
        <div id="default">
           <h1>@Me</h1>
                <hr>
                	<!-- First Post -->
                    <table width="100%" valign="top"><td>
                    <a href= ""><b>Eric Smith</b></a> <font size="2">on 3/7/13 at 9:25 am </font><b>@<u>Hridya Turlapati</b></u><br>
                    The document you needed for class<br>
                    <font size=2><u>Attached</u>: <i>alltheanswers.zip</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br><a href="">Download</a></font></td></table><hr>
                    <!-- Second Post -->
                    <table width="100%" valign="top"><td>
                    <a href=""><b>Eric Smith</b></a> <font size="2">on 3/7/13 at 9:25 am </font><b>@<u>Hridya Turlapati</u></b><br>
                    more doggie pics!<br>
                    <font size=2><u>Attached</u>: <i>pups.jpg</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br><a href="">Download</a></font></td></table><hr>
                    <!-- Third Post -->
                    <table width="100%" valign="top"><td><a href=""><b>Xian Chen</b></a> <font size="2">on 3/3/13 at 6:20 pm 	</font><b>@<u>Hridya Turlapati</u></b><br>
                    review for our midterm<br>
                    <font size=2><u>Attached</u>: <i>alltheanswers.zip</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br>
                    <a href="">Download</a><br>
                    <a href="">Follow</a></font></td></table><hr>
                    <!-- Fourth Post -->
                    <table width="100%" valign="top"><td><a href=""><b>Xian Chen</b></a> <font size="2">on 3/3/13 at 4:13 pm </font></font><b>@<u>Hridya Turlapati</u></b><br>
                    Hey its Xian...Follow me!</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br>
                    <a href="">Follow</a></font></td></table><hr>
                    <a href=""><center>see earlier...</center></a>
                    </div>
                    </td>
        </tr>

</table>

<% include footer %>