<% include header %>
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script>
$(document).ready(function(){
  $("change").load("myWarbles");
  $("myWarbles").click(function(){
    $("change").load("myWarbles");
  });
  $("followers").click(function(){
    $("change").load("followers");
  });
  $("following").click(function(){
    $("change").load("following");
  });
  $("recentUploads").click(function(){
    $("change").load("recentUploads");
  });
});
</script>
<div id="header">
<!-- Top Navigation Bar -->
<button type="button">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="main">Front</a>
</button>

<button type="button">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="discover">Discover</a>
</button>

<button type="button" >
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="me">At Me</a>
</button>

<button type="button" class="active">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="my_profile">My Profile</a>
</button>

<button type="button">
<img src="/images/icons/logout.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="/user/logout">Logout</a>
</button>
</div>
<div id="bar"></div>
<br>

<table cellspacing="0" cellpadding="0" id="main_size"  align="center">
    <tr>
        <!--Creates a box with the basic info of the user -->
        <td valign="top" width="220px" align="center">

            <% include inc/profile_user_info %>
    
      </td><td width="15px"></td>
            
    	<!--Latest Warbles by user-->  
        <td valign="top"><div id="default">
          <change>
          </change>
        </td>
        
  </tr>
</table>
<% include footer %>