<% include header %>
<br><br><br>
<!-- Warble Logo Image -->
<center><a href="/"><img src="/warble.png" border="0"></a></center>
<table cellspacing="0" cellpadding="0" width="400px" align="center">
    <tr height="25px"></tr>
    <tr>
        <td valign="top" id="default"><div class="text">
        <!-- Forget Password Form -->
        <center><font size="6">Password Please?</font>
        <hr><br>
        <font size="4">Enter your e-mail or username:</font><br></center>
        <textarea rows="1"></textarea><br>
        <input type="submit" value="E-mail Me!"></input>
        <br><br>
        <center><a href="sign_up">Sign Up</a> | <a href="/">Login</a></center>

        </div></td>
    </tr>

</table>
<br><br><br><br><br><br>
<% include footer %>