<% include header %>
<div id="header">
<button type="button" class="active"><a href="front">Home</a></button>
<button type="button"><a href="discover">Discover</a></button>
<button type="button"><a href="me">At Me</a></button>
<button type="button"><a href="profile">My Profile</a></button>
</div>
<br>

<table cellspacing="0" cellpadding="0" width="70%" align="center">
    <tr>
        <td valign="top" id="content"><div class="text">

        <h1>CMPSCI 326 Web Programming Project</h1>
        <b><u>Team</u>:</b> Sguarloaf<br>
        <b><u>Members</u>:</b> Eric Smith, Xian Chen, Hridya Turlapati, Ryan Becker<br>
        <b><u>Project Name</u>:</b> Warble<br>
        <hr>

       <h2>About</h2>
       The semester project for UMass's CS326 Web Programming course focuses on implementing <a href="http://twitter.com" target="_blank">Twitter</a>. Our implementation is <b>Warble</b>-- a microblogging web application that allows users to upload files of a certain size. 

        </div></td>
    </tr>

</table>

<% include footer %>