<% include header %>
<div id="header">
<!-- Top Navigation Bar -->
<button type="button"><a href="front">Front</a></button>
<button type="button" class="active"><a href="discover">Discover</a></button>
<button type="button"><a href="me">At Me</a></button>
<button type="button"><a href="profile">My Profile</a></button>
</div>
<br>

<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" width="70%" align="center">
	<tr>
		<td valign="top" width="27%">

            <div id="content" width="100%">
                <!-- Search Field and Button-->
    	       <textarea rows="1">I'm looking for...</textarea>
     	      <input type="submit" value="Find me!"> <a class="text"></a></input>
            </div>
            <br>
            <div id="content"width="100%">
                <div class="text">
                <!-- Search by Categories -->
                  <b>Categories</b>
                  <hr><font size="3pt">
                  <ul>
                    <li><a href="" title="search by profiles">People</a></li>
                    <li><a href="" title="search by warbles">Warbles</a></li>
                    <li><a href="" title"search by file uploads">Uploads</a></li>
                    <li>etc...</li>
                    </uL></font>
                </div>
            </dkv>

 		</td>

        <td width="15px"></td>
    	<td valign="top" id="content">
            <!-- Search Results -->
            <h1>Search Results: People</h1><hr>
                    <table width="100%" valign="top"><td>
                    <b>Eric Smith</b> <font size="2">Last Update on 3/8/13 at 9:15 pm</font><br>
                    Done! Login Page!<br>
                    </td><td width="50px"><font size="2">
                    <a href="">Profile</a><br>
                    <a href="">Follow</a><br>
                    </font></td></table><hr>


                    <table width="100%" valign="top"><td>
                    <b>Hridya</b> <font size="2">Last Update on 3/6/13 at 6:02 pm</font><br>
                    Testing...<br>
                    </td><td width="50px"><font size="2">
                    <a href="">Profile</a><br>
                    <a href="">Follow</a><br>
                    </font></td></table><hr>

                    <br>


    		<h1>Search Results: Warbles</h1><hr>
                    <table width="100%" valign="top"><td><b>Xian Chen</b> <font size="2">on 3/5/13 at 9:15 pm</font><br>
                    Changing headers and footers! Download?<br>
                    <font size=2><u>Attached</u>: <i>files.zip</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br><a href="">Download</a></font></td></table><hr>


                    <table width="100%" valign="top"><td><b>Ryan</b><font size="2"> on 3/5/13 at 8:02 pm</font><br>
                    Sign_up page ready</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>

                    <table width="100%" valign="top"><td><b>Xian Chen</b> <font size="2">on 3/3/13 at 6:20 pm</font><br>
                    Discover and Front pages are up!</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>
    		</td>
    	</tr>

</table>
<% include footer %>