<% include header %>

<table cellspacing="0" cellpadding="0" width="70%" align="center">
    <tr height="50px"></tr>
    <tr>
        <td valign="top" id="content"><div class="text">

        

        </div></td>
    </tr>

</table>

<% include footer %>