<% include header %>
<div id="header">
<!-- Top Navigation Bar: Front, Discover, Profile, @Me -->
<button type="button"><a href="front">Front</a></button>
<button type="button"><a href="discover">Discover</a></button>
<button type="button" class="active"><a href="me">At Me</a></button>
<button type="button"><a href="profile">My Profile</a></button>
</div>
<br>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->    


<!-- Using a table to compartmentalize the information-->
<table cellspacing="0" cellpadding="0" width="70%" align="center">
    <tr>
        <td valign="top" width="30%" align="center">

            <div id="content" width="90%" align="center">
              <!-- User Information: Warbles, Followers, Who your following -->
    	       
    	      <img src="http://4.bp.blogspot.com/-IxQh2mU0ynI/T-9pU_63MeI/AAAAAAAAADY/fAhgQGAip18/s1600/puppies-2.jpg" width="80%" height="45%"> 
     	      <h1>Hridya Turlapati</h1><font size="2"><a href=""><i>edit</i></a></font>
     	       <hr width="80%">
     	        <table width="100%" valign="top"><td align="center">
                    <b>Warbles</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>1000</i></a><br>
                    </font></td></table>
                    
                <table width="100%" valign="top"><td align="center">
                    <b>Following</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>120</i></a><br>
                    </font></td></table>
                    
                <table width="100%" valign="top"><td align="center">
                    <b>Followers</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>80</i></a><br>
                    </font></td></table><hr width="80%">
                    
                <table width="100%" valign="top"><td align="center">
                    <b>Birthday</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>Nov 04</i></a><br>
                    </font></td></table><hr width="80%">
                    
                <table width="100%" valign="top"><td align="center">
                    <b><i>"You can have it all. Just not all at once"</i></b><br>
                    </td></table> 
            </div>
 		</td>
        
        
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->    
 
            <td width="15px"></td>
            
        <!-- @Me Warble List -->
        <!-- Can see all posts a user is mentioned in -->
    	<td valign="top" id="content">
           <h1>@Me</h1>
                <hr>
                <ul id="list"> <!-- makes a bullet list -->
                	<!-- First Post -->
                    <table width="100%" valign="top"><td><li>
                    <a href= ""><b>Eric Smith</b></a> <font size="2">on 3/7/13 at 9:25 am </font><b>@<u>Hridya Turlapati</b></u><br>
                    The document you needed for class<br>
                    <font size=2><u>Attached</u>: <i>alltheanswers.zip</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br><a href="">Download</a></font></td></table></li><hr>
                    <!-- Second Post -->
                    <table width="100%" valign="top"><td><li>
                    <a href=""><b>Eric Smith</b></a> <font size="2">on 3/7/13 at 9:25 am </font><b>@<u>Hridya Turlapati</u></b><br>
                    more doggie pics!<br>
                    <font size=2><u>Attached</u>: <i>pups.jpg</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br><a href="">Download</a></font></td></table></li><hr>
                    <!-- Third Post -->
                    <table width="100%" valign="top"><td><li><a href=""><b>Xian Chen</b></a> <font size="2">on 3/3/13 at 6:20 pm 	</font><b>@<u>Hridya Turlapati</u></b><br>
                    review for our midterm<br>
                    <font size=2><u>Attached</u>: <i>alltheanswers.zip</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br>
                    <a href="">Download</a><br>
                    <a href="">Follow</a></font></td></table></li><hr>
                    <!-- Fourth Post -->
                    <table width="100%" valign="top"><td><li><a href=""><b>Xian Chen</b></a> <font size="2">on 3/3/13 at 4:13 pm </font></font><b>@<u>Hridya Turlapati</u></b><br>
                    Hey its Xian...Follow me!</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br>
                    <a href="">Follow</a></font></td></table></li><hr>
                    <a href="">see earlier...</a>
        </tr>

</table>

<% include footer %>