<% include header %>
<div id="header">
<!-- Top Navigation Bar -->
<button type="button">
<img src="/images/icons/home.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="front">Front</a>
</button>

<button type="button">
<img src="/images/icons/search.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="discover">Discover</a>
</button>

<button type="button" >
<img src="/images/icons/chat.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="me">At Me</a>
</button>

<button type="button" class="active">
<img src="/images/icons/profile.png" height="40px" width="40px" align="absmiddle" style="padding-right:5px;"><a href="profile">My Profile</a>
</button>
</div><div id="bar"></div>
<br>

<table cellspacing="0" cellpadding="0" id="main_size"  align="center">
    <tr>
        <!--Creates a box with the basic info of the user -->
        <td valign="top" width="220px" align="center">

            <div id="black">
    	       <!--Display picture of the user-->
    	      <img src="/images/profile_ex.jpg" alt="some_text" width="90%" height="42%"> 
    	      <!--User's name and/or handle-->
     	      <h1>Hridya Turlapati</h1><font size="2"><i><a href=""><font color=white>edit</font></a></i></font>

            </div>

            <div id="content">
     	        <table width="80%" valign="top"><tr><td>
     	         <!--Number of warbles by user-->
                    <b>Warbles</b>
                    </td><td>
                    <a href=""><i><font size="2">1000</font></i></a>
                    </tr><tr><td>
                     <!--Number of uploads by user-->    
                    <b>Uploads</b>
                    </td><td>
                    <a href=""><i><font size="2">472</font></i></a></td>
                    </tr><tr><td>
                    <!--Number of people the user follows-->      
                    <b>Following</b>
                    </td><td>
                    <a href=""><i><font size="2">120</font></i></a></td>
                    </tr><tr><td>
                    <!--Number of people following user--> 
                    <b>Followers</b>
                    </td><td>
                    <a href=""><font size="2"><i>80</i></font></a></td></tr></table>
                    <hr width="80%">
                <table width="80%" valign="top"><tr><td>
                <!--User's birthday--> 
                    <b>Birthday</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>Nov 04</i></a><br>
                    </font></td></table><hr width="80%">
                <!--A quote and/or description by the user-->      
                <b><i>"You can have it all. Just not all at once"</i></b>
                 

     	      
            </div>
            <br>
    

 		</td>
        
            
            <td width="15px"></td>
            
            
    	<td valign="top"><div id="default">
           <h1>Hridya's Warbles</h1>
                <hr>
                <!-- makes a bullet list -->

					<!--Latest Warbles by user-->  
                    <table width="100%" valign="top"><td><b>Hridya Turlapati</b> <font size="2">on 3/5/13 at 9:15 pm</font><br>
                    The latest version of Warble<br>
                    <font size=2><u>Attached</u>: <i>Warble.zip</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br><a href="">Download</a></font></td></table><hr>


                    <table width="100%" valign="top"><td><b>Hridya Turlapati</b><font size="2"> on 3/5/13 at 8:02 pm</font><br>
                    Sign_up page ready</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>

                    <table width="100%" valign="top"><td><b>Hridya Turlapati</b> <font size="2">on 3/3/13 at 6:20 pm</font><br>
                    Profile page is up and running!</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>

                    <table width="100%" valign="top"><td><b>Hridya Turlapati</b> <font size="2">on 3/3/13 at 4:13 pm</font><br>
                    Warbles are going to look something like this...</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>
                    <a href=""><center>More...</center></a>
                 </div>
             </td>
        </tr>

</table>

<% include footer %>