<% include header %>
<div id="header">
<!-- Top Navigation Bar -->
<button type="button"><a href="front">Front</a></button>
<button type="button"><a href="discover">Discover</a></button>
<button type="button"><a href="me">At Me</a></button>
<button type="button" class="active"><a href="profile">My Profile</a></button>
</div><div id="bar"></div>
<br>

<table cellspacing="0" cellpadding="0" id="main_size"  align="center">
    <tr>
        <td valign="top" width="220px" align="center">

<<<<<<< HEAD
			<!--Creates a box with the basic info of the user -->
            <div id="content" width="100%" align="center">
        	  <!--Display picture of the user--> 
    	      <img src="http://4.bp.blogspot.com/-IxQh2mU0ynI/T-9pU_63MeI/AAAAAAAAADY/fAhgQGAip18/s1600/puppies-2.jpg" alt="some_text" width="80%" height="45%"> 
    	      <!--User's name and/or handle-->
     	      <h1>Hridya Turlapati</h1><font size="2"><i>edit</i></font>
     	       <hr width="80%">
     	       <!--Number of warbles by user-->
     	        <table width="100%" valign="top"><td align="center">
                    <b>Warbles</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>1000</i></a><br>
                    </font></td></table>
                <!--Number of people following user-->    
                <table width="100%" valign="top"><td align="center">
                    <b>Following</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>120</i></a><br>
                    </font></td></table>
                <!--Number of people the user follows-->    
                <table width="100%" valign="top"><td align="center">
                    <b>Followers</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>80</i></a><br>
                    </font></td></table><hr width="80%">
                <!--User's birthday-->    
                <table width="100%" valign="top"><td align="center">
=======
            <div id="black">
    	       
    	      <img src="/images/profile_ex.jpg" alt="some_text" width="90%" height="42%"> 
     	      <h1>Hridya Turlapati</h1><font size="2"><i><a href=""><font color=white>edit</font></a></i></font>

            </div>

            <div id="content">
     	        <table width="80%" valign="top"><tr><td>
                    <b>Warbles</b>
                    </td><td>
                    <a href=""><i><font size="2">1000</font></i></a>
                    </tr><tr><td>
                    <b>Uploads</b>
                    </td><td>
                    <a href=""><i><font size="2">472</font></i></a></td>
                    </tr><tr><td>
                    <b>Following</b>
                    </td><td>
                    <a href=""><i><font size="2">120</font></i></a></td>
                    </tr><tr><td>
                    <b>Followers</b>
                    </td><td>
                    <a href=""><font size="2"><i>80</i></font></a></td></tr></table>
                    <hr width="80%">
                <table width="80%" valign="top"><tr><td>
>>>>>>> ec1e82bd3f131d2b0f88f24c0caf2254021e8719
                    <b>Birthday</b>
                    </td><td width="80px"><font size="2">
                    <a href=""><i>Nov 04</i></a><br>
                    </font></td></table><hr width="80%">
<<<<<<< HEAD
                <!--A quote and/or description by the user-->      
                <table width="100%" valign="top"><td align="center">
                    <b><i>"You can have it all. Just not all at once"</i></b>
                    </td></table>

=======
                    
                <b><i>"You can have it all. Just not all at once"</i></b>
                 
>>>>>>> ec1e82bd3f131d2b0f88f24c0caf2254021e8719

     	      
            </div>
            <br>
    

 		</td>
        
            
            <td width="15px"></td>
            
            
<<<<<<< HEAD
    	<td valign="top" id="content">
    	   <!--Latest Warbles by user-->  
           <h1>Hridya's Warbles</h1>
                <hr>
                <ul id="list"> <!-- makes a bullet list -->
					<!--List of warbles-->  
                    <table width="100%" valign="top"><td><li><b>Hridya Turlapati</b> <font size="2">on 3/5/13 at 9:15 pm</font><br>
=======
    	<td valign="top"><div id="default">
           <h1>Hridya's Warbles</h1>
                <hr>
                <!-- makes a bullet list -->


                    <table width="100%" valign="top"><td><b>Hridya Turlapati</b> <font size="2">on 3/5/13 at 9:15 pm</font><br>
>>>>>>> ec1e82bd3f131d2b0f88f24c0caf2254021e8719
                    The latest version of Warble<br>
                    <font size=2><u>Attached</u>: <i>Warble.zip</i></font> </b></td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a><br><a href="">Download</a></font></td></table><hr>


                    <table width="100%" valign="top"><td><b>Hridya Turlapati</b><font size="2"> on 3/5/13 at 8:02 pm</font><br>
                    Sign_up page ready</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>

                    <table width="100%" valign="top"><td><b>Hridya Turlapati</b> <font size="2">on 3/3/13 at 6:20 pm</font><br>
                    Profile page is up and running!</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>

                    <table width="100%" valign="top"><td><b>Hridya Turlapati</b> <font size="2">on 3/3/13 at 4:13 pm</font><br>
                    Warbles are going to look something like this...</td><td width="50px"><font size="2"><a href="">Reply</a><br>
                    <a href="">Warble</a></font></td></table><hr>
                    <a href=""><center>More...</center></a>
                 </div>
             </td>
        </tr>

</table>

<% include footer %>