<% include header %>
<table cellspacing="0" cellpadding="0" id="main_size"  align="center">
    <tr>
        <!--Creates a box with the basic info of the user -->
         <td valign="top" width="220px" align="center">

            <% include ../inc/profile_user_info %>
    
      </td><td width="15px"></td>
            
            
    	<td valign="top"><div id="default">
          <% include ../inc/my_warbles %>
        </td>
        </tr>

</table>

<% include footer %>