<% include header %>
<div id="header">
<button type="button"><a href="front.html">Home</a></button>
<button type="button" class="active"><a href="discover.html">Discover</a></button>
<button type="button"><a href="me.html">At Me</a></button>
<button type="button"><a href="profile.html">My Profile</a></button>
</div>
<br>

<table cellspacing="0" cellpadding="0" width="70%" align="center">
	<tr>
		<td valign="top" width="27%">

            <div id="content" width="100%">
    	       <textarea rows="1">I'm looking for...</textarea>
     	      <input type="submit" value="Find me!"> <a class="text"></a></input>
            </div>
            <br>
            <div id="content"width="100%">
                <div class="text">
                  <b>Categories</b>
                  <hr><font size="3pt">
                  <ul>
                    <li>Warbles</li>
                    <li>Uploads</li>
                    <li>etc...</li>
                    </uL></font>
                </div>
            </dkv>

 		</td>

        <td width="15px"></td>
    	<td valign="top" id="content">
    		<h1>Search Results:</h1>
            .......<br>
            ...........<br>
    		</td>
    	</tr>

</table>
<% include footer %>