<% include header %>

<!-- Using a table to create a dynamically fluid webpage -->
<table cellspacing="0" cellpadding="0" width="70%" align="center">
</table>
</div><br><br><div id="footer" align="center"><a href="about"><font color="white">About Warble</font></a></div>
</body>
</head>
</html>